In [2]:
#Dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from datetime import datetime

from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date

In [3]:
#Read CSVs
measurements_df = pd.read_csv("Resources/clean_hawaii_measurements.csv")
stations_df = pd.read_csv("Resources/hawaii_stations.csv")

In [4]:
#Create the Measurement class
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key = True)
    station = Column(Text)
    date = Column(Date)
    prcp = Column(Float)  
    tobs = Column(Float)

class Stations(Base):
    __tablename__ = 'stations'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)  
    longitude = Column(Float)
    elevation = Column(Float)

In [5]:
#Create a engine and connection to a SQLite database
engine = create_engine("sqlite:///hawaii.sqlite")

conn = engine.connect()

#Create the tables within the database using "create all"
Base.metadata.create_all(conn)

In [6]:
#Insert measurement dataframe into measurement table
measurements_df.to_sql('measurement', engine, if_exists='append', index=False)

In [7]:
#Select records from measurement table to check insert
conn.execute("select * from measurement limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-07', 0.06, 70.0)]

In [8]:
# insert station dataframe into stations table
stations_df.to_sql('stations', engine, if_exists='append', index=False)

In [10]:
#Select records from station table to check insert
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]